@import url(style.css);

body {
	margin: 0;
}
header {
	max-width: 960px;
}

.wrapper {
	max-width: 960px;
	height: 695px;
	margin: 0 auto;
	background: #000000;
}

.log {
	width: 48px;
	height: 48px;
	float: left;
	padding-left: 30px;
	padding-top: 30px;
}

.menu {
	width: 960px;
	height: 48px;
	padding-top: 30px;
}

.menu ul {
	padding-right: 8px;
	overflow: hidden;
}

.menu ul li {
        float: right;
	font-size: 13px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	src: url(helveticaneuecyr-light.otf);
	margin-right: 22px;
}

.menu ul li a {
	color: #ffffff;
	text-decoration: none;
}


.interesting {
	float: left;
	padding-left: 30px;
	padding-top: 45px;
	font-size: 13px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        src: url(helveticaneuecyr-light.otf);

}

.interesting a {
	color: #ffffff;
	text-decoration: none;
}

.photo {
  	display: inline-block;
  	width: 50px;
  	height: 50px;
  	box-sizing: border-box;
  	border-radius: 25px;
  	border: 2px #fff solid;
  	background: green center;
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

.where {
	color: #ffffff;
	font-size: 60px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	src: url(helveticaneuecyr-light.otf);
	position: absolute;
	top: 148px;
	left: 500px;
}

.place {
	color: #ffffff;
	font-size: 25px;
 	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	src: url(helveticaneuecyr-light.otf);
	text-align: center;
	margin-top: -63px;
}



.rectangle {
	width: auto;
   	height: 220px;
   	background: #209b23;
	margin-top: 94px;
	opacity: 0.5;
	position: relative;
}

.rectangle_circles {
	width: 960px;
	height: 20px;
	background: #ffffff;
	margin-top: -130px;
	position: absolute;
}
