html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url("./images/background.png") #000 no-repeat center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #fff;
    position: relative;
}

body:before {
    content: '';
    position: absolute;
    width: calc(50% - 620px);
    height: 100%;
    background: #000;
    box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 1);
    left: 0;
    top: 0;
}
body:after {
    right: 0;
    top: 0;
    content: '';
    position: absolute;
    width: calc(50% - 620px);
    height: 100%;
    background: #000;
    box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 1);
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
}
a:hover {
    color: #d00;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px 30px 0;
}

.header {
    min-height: 50px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.header__side {
    flex-basis: 100%;
}

.header__left-side {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

.header__right-side {
    display: inline-block;
    vertical-align: middle;
}

.header__logo {
    display: inline-block;
    vertical-align: middle;
}


.logo {
    display: block;
    width: 50px;
    height: 50px;
    background: green;
}

.header__menu {
    display: inline-block;
}

.header__menu-item {
    display: inline-block;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.header__menu-item + .header__menu-item {
    margin-left: 22px;
}

.header__profile {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    height: 50px;
}

.header__avatar {
    box-sizing: border-box;
    display: inline-block;
    width: 52px;
    height: 52px;
    background: green;
    border-radius: 25px;
    border: 2px #fff solid;
    margin: -1px;
}


/** BEGIN .trip-search **/

.trip-search {
    background: rgba(0,0,0,.65);
}

.trip-search__inner {
    box-sizing: border-box;
    height: 220px;
    padding: 22px 80px 30px;
    margin: 0 auto;
}

.trip-search__form {
    height: 40px;
    display: flex;
}

.trip-search__field_place {
    flex-basis: 25%;
    flex-grow: 2;
}

.trip-search__field_date {
    width: 152px;
}

.trip-search__field_person {
    width: 100px;
}

.trip-search__spinner {
    margin: 20px 0;
}

.trip-search__form + .trip-search__data {
    margin-top: 50px;
}

.trip-search__data {}
.trip-search__data:before,
.trip-search__data:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.trip-search__stats {
    margin-right: 22px;
    height: 80px;
    float: left;
    width: calc(100% - 280px);
}

.trip-search__go-btn {
    box-sizing: border-box;
    width: 252px;
    height: 80px;
    background: none;
    border: 1px #fff solid;
    border-radius: 5px;
    font-size: 36px;
    color: #fff;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    float: right;
    cursor: pointer;
}

.trip-search__go-btn:hover {
    color: #d00;
}

/** END   .trip-search **/

/** BEGIN .spinner **/

.spinner {
    text-align: center;
}

.spinner-element {
    display: inline-block;

    transform:translateZ(0);
    will-change: transform;
}

.spinner__dot {
    width: 6px;
    height: 6px;
    display: inline-block;
    opacity: 1;
    background: #fff;
    border-radius: 3px;
}

.spinner__dot + .spinner__dot {
    margin-left: 7px;
}

.spinner__dot:first-child {
            animation: dot1 linear 1s;
            animation-iteration-count: infinite;
    -webkit-animation: dot1 linear 1s;
    -webkit-animation-iteration-count: infinite;
}
.spinner__dot:nth-child(2) {
            animation: dot2 linear 1s;
            animation-iteration-count: infinite;
    -webkit-animation: dot2 linear 1s;
    -webkit-animation-iteration-count: infinite;
}
.spinner__dot:nth-child(3) {
            animation: dot3 linear 1s;
            animation-iteration-count: infinite;
    -webkit-animation: dot3 linear 1s;
    -webkit-animation-iteration-count: infinite;
}
.spinner__dot:nth-child(4) {
            animation: dot4 linear 1s;
            animation-iteration-count: infinite;
    -webkit-animation: dot4 linear 1s;
    -webkit-animation-iteration-count: infinite;
}
.spinner__dot:nth-child(5) {
            animation: dot5 linear 1s;
            animation-iteration-count: infinite;
    -webkit-animation: dot5 linear 1s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes dot1 {
    0% { opacity:1; }
    55% {opacity:0.1}
    100% { opacity:1; }
}
@keyframes dot2 {
    0% { opacity:0.7; }
    15% { opacity: 1; }
    65% {opacity:0.1}
    100% { opacity:0.7; }
}
@keyframes dot3 {
    0% { opacity:0.4; }
    30% {opacity:1}
    80% { opacity:0.1; }
    100% { opacity: 0.4 }
}
@keyframes dot4 {
    0% { opacity:0.1; }
    50% {opacity:1}
    100% { opacity:0.1; }
}
@keyframes dot5 {
    0% { opacity:0.4; }
    20% {opacity:0.1}
    70% {opacity:1}
    100% { opacity:0.4; }
}

@-webkit-keyframes dot1 {
    0% { opacity:1; }
    55% {opacity:0.1}
    100% { opacity:1; }
}
@-webkit-keyframes dot2 {
    0% { opacity:0.7; }
    15% { opacity: 1; }
    65% {opacity:0.1}
    100% { opacity:0.7; }
}
@-webkit-keyframes dot3 {
    0% { opacity:0.4; }
    30% {opacity:1}
    80% { opacity:0.1; }
    100% { opacity: 0.4 }
}
@-webkit-keyframes dot4 {
    0% { opacity:0.1; }
    50% {opacity:1}
    100% { opacity:0.1; }
}
@-webkit-keyframes dot5 {
    0% { opacity:0.4; }
    20% {opacity:0.1}
    70% {opacity:1}
    100% { opacity:0.4; }
}

/** END   .spinner **/

/** BEGIN .promo **/

.promo {
    height: calc(100% - 294px);
    text-align: center;
}

.promo__inner {
    position: relative;
    top: calc(50% - 80px);
}

.promo__inner:before {
    content: "";
    display: block;
    box-shadow: 0 0 100px 20px rgba(0,0,0,0.65);
    position: absolute;
    top: 50%;
    width: 100%;
}

.promo__inner > * {
    position: relative;
}

.promo__big-text {
    font-size: 64px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}
.promo__small-text {
    font-size: 24px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

/** END   .promo **/

/** BEGIN .stats **/

.stats__item {
    display: inline-block;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.stats__item + .stats__item {
    margin-left: 30px;
}

.stats-item__number {
    font-size: 36px;
    display: inline-block;
}

.stats-item__text {
    font-size: 12px;
}

.stats-item__symbol {
    font-size: 18px;
    display: inline-block;
}

/** BEGIN .field **/

.field {
    display: flex;
    background: #fff;
    border: 1px rgba(0,0,0,.65) solid;
    cursor: text;
}

.field__placeholder {
    padding: 0 6px 0 12px;
    color: #858585;
    font-weight: 200;
    line-height: 38px;
}

.field__input {
    padding: 0 12px;
    font-size: 14px;
}

.field__input:focus {
    outline: none;
}

.field__placeholder + .field__input {
    padding-left: 0;
}

/** END   .field **/
